@media print {
  .hiddenPrintBody {
    visibility: hidden;
    #right {
      display: none;
    }
  }

  $color-linea: #abb2b9;
  @page {
    margin: 0;
    size: auto;
  }

  .all-content {
    flex-direction: column;
    .left {
      .formato {
        font-size: 11px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 150px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          align-items: center;
          .bloque2__parte1 {
            width: 180px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            width: 260px;
            height: 80%;
            justify-content: space-between;
            text-align: center;

            #title__remitente {
              font-size: 13px;
            }
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
            .namePrint{
              display: flex;
              align-items: center;
              #namePrint{
                font-size: 12px;
                border: none;
                width: 100px;
              }
            }
           
          }
        }

        .formato__bloque3 {
          border-bottom: 2px solid $color-linea;
          .bloque3__parte1 {
            width: 150px;
            padding-bottom: 20px;
            font-size: 11px;
          }

          .bloque3__parte2 {
            height: 260px;
            input {
              font-size: 11px;
              border: none;
            }
            padding-left: 3px;
            #nombres {
              //font-size: 12px;
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios3 {
              margin-bottom: 40px;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 12px;
              border: none;
            }
          }

          .bloque4__parte2 {
            .bloque4__parte2__img-resultado {
              margin-right: 125px;
              img {
                width: 150px;

                height: 90%;
              }
            }
          }

          .bloque4__parte3 {
            .bloque4__parte3__firma {
              margin-left: 50px;

              #firma {
                width: 25%;
              }
            }
          }

          .bloque4__parte4 {
            .bloque4__parte4__quien-autoriza {
              width: 68%;
            }
          }
        }
      }
    }

    .right__print {
      display: none;
    }
  }
}
