@use "./partials/config";
@use "./partials/mediaQueries";
@use "./partials/formatoNoContratados";

//variables

$body-font: "Roboto", sans-serif;
$main-color: #f8f9f9;
$letra-black: #212f3d;
$letra-orange: #dc7633;
$right-color: #d5dbdb;
$left-color: #aed6f1;
$color-maxilodent: #1a939e;
$color-radiologia: #e67e22;
$color-castulo: #16a085;
$color-coosalud: #75b948;
$color-ilustracion: #f9a826;
$color-linea: #abb2b9;

body {
  background-color: $main-color;
  font-family: $body-font;
  color: $letra-orange;
}

.modal-body {
  text-align: center;
  #img-modal {
    width: 50%;
    height: 50%;
  }
}

.padre {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  #alerts {
    position: absolute;
    z-index: 10;
  }

  .all-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212f3d;
    margin-top: 15px;
    color: $letra-orange;
    height: 870px;
    width: 90%;

    .left {
      //background-color: $left-color;
      width: 100%;
      height: 100%;
      border: 2px solid $letra-black;

      .formato__bloque1 {
        color: $letra-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $color-linea;
        height: 120px;
        //background-color: #FEF5E7;

        .bloque1__parte1 {
          padding-left: 20px;
        }

        .bloque1__parte2 {
          //background-color: #FEF5E7;
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          width: 300px;
          span {
            font-weight: 700;
          }
        }

        .bloque1__parte3 {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 30px 0 30px;
          span {
            font-weight: 500;
          }
        }
      }

      .formato__bloque2 {
        color: $letra-black;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $color-linea;
        height: 180px;
        #remiteA {
          padding-bottom: 6px;
        }

        .bloque2__parte1 {
          padding-left: 20px;

          span {
            font-weight: 500;
          }
        }
        .bloque2__parte2 {
          align-items: center;
          .maxilodent {
            font-size: 20px;
            color: $color-maxilodent;
            font-weight: 700;
          }

          .radiologia {
            font-size: 20px;
            color: $color-radiologia;
            font-weight: 700;
          }

          .castulo {
            font-size: 20px;
            color: $color-castulo;
            font-weight: 700;
          }
          #title__coosalud {
            color: $color-coosalud;
          }

          span {
            font-weight: 500;
          }
        }

        .bloque2__parte2,
        .bloque2__parte1,
        .bloque2__parte3 {
          display: flex;
          flex-direction: column;
        }

        .bloque2__parte3 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px 0 20px;
          height: 170px;
          span {
            font-weight: 500;
          }
        }
      }

      .formato__bloque3 {
        color: $letra-black;
        display: flex;
        //border-bottom: 2px solid $color-linea;
        span {
          font-weight: 500;
        }

        .bloque3__parte1 {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 21%;
          padding-left: 20px;
          height: 200px;
        }
        .bloque3__parte2 {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          padding-left: 20px;

          .bloque3__parte2__input__documento {
            display: flex;
           #tipoDoc{
            margin: 6px 1px 0px 0px;
           }
          }

          .bloque3__parte2__input__estudio {
            margin-bottom: 10px;
          }

          #nombres {
            width: 90%;
            margin: 20px 0 27px 0;
          }

          #documento {
            width: 90%;
            margin-bottom: 20px;
          }

          #servicios {
            width: 98%;
          }
        }
      }

      .formato__bloque4 {
        span {
          font-weight: 500;
        }
        .bloque4__parte1 {
          color: $letra-black;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid $color-linea;
          padding-left: 20px;
          width: 100%;
          height: 50px;

          #copago {
            width: 20%;
          }
          .bloque4__parte1__copago {
            display: flex;
            align-items: center;
            width: 83%;
            padding-left: 20px;
          }
        }

        .bloque4__parte2 {
          display: flex;
          align-items: center;
          padding-left: 20px;
          color: $letra-black;
          border-bottom: 2px solid $color-linea;
          height: 80px;

          .bloque4__parte2__img-resultado {
            width: 80%;
            display: flex;
            justify-content: center;
            img {
              height: 70px;
            }
          }
        }

        .bloque4__parte3 {
          display: flex;
          align-items: center;
          padding-left: 20px;
          color: $letra-black;
          border-bottom: 2px solid $color-linea;
          height: 60px;
          .bloque4__parte3__firma {
            display: flex;
            justify-content: space-around;
            width: 100%;
          }
        }

        .bloque4__parte4 {
          color: $letra-black;
          display: flex;
          align-items: center;
          padding-left: 20px;
          height: 60px;

          .bloque4__parte4__quien-autoriza {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }
      }
    }

    .right__print {
      display: none;
    }

    .right {
      //background-color: #16a085;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 50%;
      color: $letra-black;
      font-weight: 500;
      input:checked {
        background-color: $color-ilustracion;
      }

      .right__title_change_format {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .right__title {
        font-size: 3em;
        font-weight: 700;
        color: $letra-black;
        margin-right: 20px;
        span {
          color: $color-ilustracion;
        }
      }
    }
  }
}
