/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 150px) and (max-width: 670px) {
  #alerts {
    top: 30%;
  }
  .all-content {
    flex-direction: column;

    .left {
      margin-top: 40px;
      .formato {
        font-size: 8px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 100px;
            }
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 150px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            width: 80%;
            height: 80%;
            justify-content: space-between;
            text-align: center;

            #title__remitente {
              font-size: 8px;
            }
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 100px;
          }

          .bloque3__parte2 {
            input {
              font-size: 8px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 7px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 8px;
            }
          }
          .bloque4__parte2 {
            .bloque4__parte2__img-resultado {
              img {
                width: 100px;
              }
            }
          }

          .bloque4__parte3 {
            .bloque4__parte3__firma {
              img {
                width: 100px;
              }
            }
          }
        }
      }
    }

    .right {
      font-size: 12px;
      margin-top: 50px;
      .ilustracion {
        display: none;
      }
      .right__options {
        padding: 20px 0 20px 0;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 670px) and (max-width: 768px) {
  #alerts {
    top: 50%;
  }

  .all-content {
    flex-direction: column;

    .left {
      margin-top: 40px;
      .formato {
        font-size: 10px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 100px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 150px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 100px;
          }

          .bloque3__parte2 {
            input {
              font-size: 10px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 9px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 10px;
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      .ilustracion {
        display: none;
      }
      .right__options {
        padding: 20px 0 20px 0;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1064px) {
  #alerts {
    top: 50%;
  }

  .all-content {
    flex-direction: column;

    .left {
      margin-top: 20px;
      .formato {
        font-size: 12px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 150px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 180px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            width: 260px;
            height: 80%;
            justify-content: space-between;
            text-align: center;
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 150px;
          }

          .bloque3__parte2 {
            input {
              font-size: 13px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 10px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 12px;
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      .ilustracion {
        display: none;
      }
      .right__options {
        padding: 20px 0 20px 0;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1064px) and (max-width: 1600px) {
  .all-content {
    flex-direction: row;

    .left {
      .formato {
        font-size: 12px;

        .formato__bloque1 {
          .bloque1__parte1 {
            img {
              width: 150px;
            }
          }

          .bloque1__parte2 {
            padding-left: 20px;
          }

          .bloque1__parte3 {
            text-align: center;
          }
        }

        .formato__bloque2 {
          .bloque2__parte1 {
            width: 180px;
            height: 80%;
            justify-content: space-between;
          }

          .bloque2__parte2 {
            height: 80%;
            justify-content: space-between;
            text-align: center;
          }

          .bloque2__parte3 {
            height: 80%;
            text-align: center;
          }
        }

        .formato__bloque3 {
          .bloque3__parte1 {
            width: 150px;
          }

          .bloque3__parte2 {
            input {
              font-size: 13px;
            }
            padding-left: 3px;
            #nombres {
              width: 90%;
            }

            #documento {
              width: 90%;
            }

            #servicios {
              font-size: 10px;
              width: 100%;
            }
          }
        }

        .formato__bloque4 {
          .bloque4__parte1 {
            input {
              font-size: 12px;
            }
          }
        }
      }
    }

    .right {
      font-size: 15px;
      margin-top: 30px;
      font-size: 12px;
      .ilustracion {
        display: block;
        width: 70%;
        img {
          width: 100%;
        }
      }
      .right__options {
        padding: 20px 0 20px 0;
        font-size: 15px;
      }

      .right__btns {
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}
